<h1>Login</h1>

<%= form_tag login_session_path do  %>
  <p>
    <label>Email</label><br/>
    <input type="text" name="email" />
  </p>
  <p>
    <label>Password</label><br/>
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" />
  </p>
<% end %>
